In [2]:
import pandas as pd
import numpy as np

In [3]:
#Read in files
df_Schools = pd.read_csv('schools_complete.csv', delimiter = ',')
df_Students = pd.read_csv('students_complete.csv', delimiter = ',')

In [4]:
#Combine data
df_AllSchoolData = pd.merge(df_Schools, df_Students, how = "outer", on=["school_name", "school_name"])
df_AllSchoolData.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [5]:
#District Summary

#Total Schools
total_schools = df_Schools["school_name"].count()

#Total Students
total_students = df_AllSchoolData["student_name"].count()

#Total Budget
total_budget = df_Schools["budget"].sum()

#avg Math score
avg_math_score = df_AllSchoolData["math_score"].mean()

#avg Reading score
avg_read_score = df_AllSchoolData["reading_score"].mean()

#passing math - 70 or greater - count & %
pass_math = df_AllSchoolData.loc[df_Students["math_score"] >= 70 ]
count_pass_math = pass_math["math_score"].count()
pct_pass_math = (count_pass_math/total_students) #* 100

#passing reading - 70 or greater - count & %
pass_read = df_AllSchoolData.loc[df_Students["reading_score"] >= 70 ]
count_pass_read = pass_read["reading_score"].count()
pct_pass_read = (count_pass_read/total_students) #* 100

#overall pass rate
#Calc average of two percentages for Overall Passing Rate

#Step 1 - multiply decimal percent by population and add together
Pct_Convert1 = (pct_pass_math * count_pass_math) + (pct_pass_read * count_pass_read)

#Step 2 - Add population sizes together
SampleSize = count_pass_math + count_pass_read

#Step 3 - Divide step1 by step2
overall_pass_rate = (Pct_Convert1/SampleSize) * 100

In [6]:
#Create table for district summary
dist_summary = {"Total Schools": total_schools,
               "Total Students": total_students,
               "Total Budget": total_budget,
               "Avg Math Score": avg_math_score,
               "Avg Reading Score": avg_read_score,
               "% Passing Math": pct_pass_math * 100,
               "% Passing Reading": pct_pass_read * 100,
               "Overall Pass Rate": overall_pass_rate}

df_dist_summary = pd.DataFrame([dist_summary])

df_dist_summary = df_dist_summary[["Total Schools",
                                  "Total Students",
                                  "Total Budget",
                                  "Avg Math Score",
                                  "Avg Reading Score",
                                  "% Passing Math",
                                  "% Passing Reading",
                                  "Overall Pass Rate"]]

df_dist_summary

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.75753

## School summary

In [ ]:
#Start School summary 

df_AllSchoolData_Copy = df_AllSchoolData.copy()

#table for math and reading averages
MathReadingAvg = df_AllSchoolData.groupby(['school_name']) ['reading_score', 'math_score'].mean().reset_index()

#Per Student Budget